<template>
  <div>
    <b-alert v-for="(error, i) in errors" :key="i" show dismissible variant="danger">{{ error }}</b-alert>
    <!--begin::Dashboard-->
    <b-row>
      <b-col col-xl="12">
        <Feed :title="feed.title" :message="feed.message" />
      </b-col>
    </b-row>
    <!--end::Dashboard-->
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';

import Gui from '@/asset/js/logic/template';
import { SET_BREADCRUMB } from '@/core/store/template/breadcrumbs.module';
import { REMOVE_BODY_CLASSNAME } from '@/core/store/template/htmlclass.module';
import { VERIFY } from '@/core/store/rest/session.module';

import Feed from '@/view/content/widget/Feed.vue';

export default {
  name: 'Monitor',
  components: { Feed },
  computed: {
    ...mapGetters('session', ['currentTenant', 'currentUser'])
  },
  data: function () {
    return { gui: new Gui(this), feed: { title: null, message: null }, errors: [] };
  },
  mounted: async function () {
    this.$store.dispatch(SET_BREADCRUMB, [{ title: 'Monitor' }]);
    await this[VERIFY]()
      .then(({ payload: { tenant, user } }) => {
        if (tenant === false) {
          switch (user.tenants.length) {
            case 0:
              this.feed.title = 'No Business Subscribed';
              this.feed.message = 'Subscription currently has no activity.';
              break;
            case 1:
              this.feed.title = 'No Activity';
              this.feed.message = "There's currently no statistics to present.";
              break;
            default:
              this.feed.title = 'No Business Selected';
              this.feed.message = "There's currently no statistics to present.";
              break;
          }
        } else {
          this.feed.title = 'No Activity';
          this.feed.message = "There's currently no statistics to present.";
        }
      })
      .catch(this.gui.toast);
    this.errors = this.$route.params.errors || [];

    this.$nextTick().then(() => {
      this.$store.dispatch(REMOVE_BODY_CLASSNAME, 'page-loading');
    });
  },
  methods: {
    ...mapActions('session', [VERIFY])
  }
};
</script>
