<template>
  <b-container class="py-5">
    <b-overlay :show="busy" spinner-type="grow" rounded="sm">
      <b-jumbotron bg-variant="secondary" text-variant="dark" border-variant="dark" class="rounded-0">
        <template #header><b-skeleton type="input" width="45%" /></template>

        <template #lead> <b-skeleton /><b-skeleton /> </template>

        <hr class="my-4" />
        <b-skeleton />
      </b-jumbotron>
    </b-overlay>
  </b-container>
</template>

<script>
import { mapMutations, mapActions } from 'vuex';

import Gui from '@/asset/js/logic/template';
import { SET_AUTH, VERIFY } from '@/core/store/rest/session.module';

export default {
  name: 'Redirect',
  data: function () {
    return { busy: true, gui: new Gui(this) };
  },
  mounted: async function () {
    const { artifact, source } = this.$route.params;

    switch (source) {
      case 'registration':
        this[SET_AUTH](artifact);
        await this[VERIFY]()
          .then(() => {
            this.$router.push({ name: 'industry' });
          })
          .catch(this.gui.toast);
        break;
      case 'home':
        this[SET_AUTH](artifact);
        this.$router.push({ name: 'mall' });
        break;
    }
  },
  methods: {
    ...mapActions('session', [VERIFY]),
    ...mapMutations('session', [SET_AUTH])
  }
};
</script>
